.filterPanel {
    display: flex;
    border-bottom: 5px solid #1d1d1d;
    padding: 5px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    margin-left: 10px;
}

.filter {
    flex: 1;
    padding: 5px 5px 0;
    font-size: 12px;
}

.filter.error input {
    border-color: #ff0000;
}

.filter input {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #434343;
    border-radius: 4px;
    background: #2e2e2e;
    color: white;
    min-width: 0;
    margin: 0;
    font-family: monospace;
}