.container {
    font-size: 11px;
    padding: 10px;
    width: 100%;
}

.key {
    color: #bbbbbb;
    padding-right: 5px;
    width: 30px;
    white-space: nowrap;
}
.value {
    user-select: text;
    overflow-wrap: anywhere;
}