.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #939393;
}

.icon {
    height: 1.5em;
}

.text {
    font-size: 1em;
    text-align: center;
    margin-top: 0.7em;
}