* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html, body, #__next {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #323232;
  color: white;
}