.topLevel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.statusBar {
    width: 100%;
    min-height: 40px;
    background: #323232;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #1d1d1d;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.mainFrame {
    flex: 1;
    width: 100%;
    display: flex;
}

.leftPanel {
    width: 100%;
    height: 100%;
    max-width: 235px;
    background: #323232;
    border: 5px solid #1d1d1d;
    border-top: none;
    border-left: none;
    display: flex;
    flex-direction: column;
}

/* --- */
.mainSection {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainTop {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 5px solid #1d1d1d;
}

.mainTop > * {
    border-bottom: 1px solid #1d1d1d;
}

.mainSectionContent {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}

.mainFooter {
    height: 30px;
    border-top: 1px solid #434343;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 13px;
}


/* --- */

.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


/* --- */


.rightPanel {
    width: 100%;
    height: 100%;
    max-width: 285px;
    background: #323232;
    border: 5px solid #1d1d1d;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previewImageContainer {
    flex: 1;
    position: relative;
    width: 100%;
    background: #1d1d1d;
}

.previewImageContainer img, .previewImageContainer video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.downloadWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background: #2e2e2e;
    padding: 8px 0px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 300ms;
    font-size: 14px;
}


.pdfObjectMax {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.audioElementMax {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previewImageContainer:hover .downloadWrapper {
    opacity: 1;
}

.downloadButton {
    display: block;
    padding: 0 10px;
    color: white;
    cursor: pointer;
    transition: color 100ms;
}

.downloadButton:hover {
    color: #2c65ca;
}

.downloadSeparator {
    display: block;
    width: 1px;
    height: 15px;
    background: #212121;
}

.downloadButton:last-child {
}


.previewInfoWrapper {
    flex: 1;
    min-height: 100px;
    width: 100%;
    height: 500px;
    position: relative;
    background: #2e2e2e;
    border-top: 1px solid #3f3f3f;
}

.previewInfo {
    height: 100%;
    overflow: auto;
    position: absolute;
}

.previewMap {
    padding: 10px 8px;
    width: 100%;
    height: 250px;
}

.previewMap > div {
    z-index: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tag, .tagAdd {
    text-wrap: nowrap;
    display: inline-block;
    padding: 5px 10px;
    font-size: 11px;
    background: #272727;
    border: 1px solid #242424;
    border-radius: 10px;
    margin: 4px 5px;
}

.tagRemove {
    margin-left: 5px;
}